@font-face {
    font-family: "Comfortaa";
    src: url('../assets/fonts/Comfortaa.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Nunito;
    src: url('../assets/fonts/NunitoSans.ttf');
}

:root{
    /* Shadows */
    --Shadow: #0005;
    --Shadow-Text: #000;
    
    /* Borders */
    --Sidebar-Item-Border: #555;
    --Border-Neon: aqua;
    --Border-Shadow: cyan;

    --Sidebar-Border-Right:#3335;
    --Sidebar-Item-Border-Right: #5555;

    /* Backgrounds */
    --Bg-App: url("../assets/background/1.jpg");
    --Button-BG: #1118;
    --Sidebar-BG: #1119;
    --Button-Item-BG: #222;
    --Sidebar-Item-Description-BG: #1116;
    --ProgramLoader: #111;
    --Dialog-Bg: #222;

    /* Others */
    --Bg-Video-Cover: cover;
}
* {
    -webkit-app-region:no-drag;
    user-select: none;
    box-sizing: border-box;
    outline: none;
    img{
        object-fit: cover;
        pointer-events: none;
    }
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: #00D8D2;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #00757A;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin: 0;
    padding: 0;
}
.BodyApp{
    background: var(--Bg-App);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

@keyframes scrollText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@keyframes TopClose{
    0%{ top: -150%; }
    100%{ top: 0; }
}

@keyframes BottomClose{
    0%{ bottom: -150%; }
    100%{ bottom: 0; }
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes TopOpen{
    100%{ top: -150%; pointer-events: none; }
}

@keyframes BottomOpen{
    100%{ bottom: -150%; pointer-events: none; }
}

.TittleBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    background: #222;
    box-shadow: 0 0.2em 0.5em #0005;
    -webkit-app-region: drag !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
    z-index: 9999;
    div{
        height: 100%;
    }
    .Music-Card{
        position: relative;
        width:  15rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#0005;
        border-radius: 0.2em;
        border: 1px solid #5555;
        cursor: pointer;
        pointer-events: all;
        &.unvisible{
            transform: translateY(-5rem);
            content-visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
        .CoverArt{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
        }
        img{
            width: 2rem;
            border-radius: 0.2em;
        }
        .ButtonExpandMusic{
            position: absolute;
            right:-2.5rem;
            width: 2rem;
            height: 2rem;
            background-color: #0005;
            border:1px solid #5555;
            top: 50%;
            border-radius:0.5em;
            transform: translateY(-50%);
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .TittleMusic{
            overflow: hidden;
            width: 100%;
            height: 2rem;
            display:inline-flex;
            justify-content: center;
            flex-direction:column;
            gap:.3em;
            font-size: 0.6rem;
            mask: linear-gradient(90deg,transparent 0%, black 10%, black 90%, transparent 100%);
            mask-clip: text;
            *{
                margin:0;
            }
            #Author{
                margin:0 auto;
            }
        }
        .TittleMusic p:first-child {
            display: inline-block;
            white-space: nowrap;
            animation: scrollText 10s linear infinite;
        }
    }
    .Tittle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Comfortaa,Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        margin-left: 0.2em;
        pointer-events: none;
        img{
            width: 2em;
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-app-region:drag;
            z-index: 1;
        }
    }
    .TittleButton{
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-app-region:no-drag;
        button{
            background-color:transparent; 
            width: 2.5rem;
            height: 100%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 1rem;
                object-fit: cover;
                image-resolution: 250dpi;
                image-rendering:pixelated;
            }
            &:nth-child(2) img{
                rotate: -180deg;
            }
            &:hover{
                background-color: #555;
                &:nth-child(3){
                    background-color: rgba(255, 0, 0, 0.3);
                }
            }
        }
    }
}
.Music-Popup{
    position: fixed;
    top: -100%;
    left: 50%;
    width: 35rem;
    height: 25rem;
    border-radius: 0.5em;
    border: 1px solid #5555;
    background-color: #111;
    backdrop-filter: blur(4px);
    transform: translateX(-50%);
    opacity: 0;
    z-index: 100;
    transition: top 1s ease-in-out, opacity 250ms ease-in-out;
    iframe{
        width:100%;
        height:100%;
        border-radius: 0.5em;
    }
    &.active{
        opacity: 1;
        top: 2.5rem;
    }
}
.IframeLoader,
.Loader {
    width: 1em;
    height: 1em;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.IframeLoader.active,
.Loader.active {
    opacity: 1;
}

.IframeContainer {
    position: relative;
    height: calc(100% - 2.2rem);
    width: 100%;
    iframe {
        display: inline-flex;
        width: 100%;
        height: 100%;
        border:none;
        z-index: 0;
    }

    .IframeIndicatorContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-family: Comfortaa, Arial, Helvetica, sans-serif;
        z-index: 2;

        opacity: 0;
        transition: opacity 0.25s ease;
        pointer-events: none;
    }

    .IframeIndicatorContainer.active {
        opacity: 1;
    }
}
.BackgroundVideo{
    position: fixed;
    top: 2.2rem;
    left: 0;
    height: calc(100% - 2.2rem);
    width: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    video,source{
        object-fit: var(--Bg-Video-Cover);
        width: 100%;
        height: 100%;
    }
}
.NotificationContainer{
    min-width: 15rem;
    min-height: 3rem;
    background-color: #111;
    border-radius: 0.5em;
    border: 1px solid #5555;
    color: white;
    overflow: hidden;
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    .NotificationContent{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:0.5em;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        padding-right: 1.5rem;
        z-index: 1;
        div img{
            width: 2rem;
        }
    }
    .NotificationCloseButton{
        position: absolute;
        top:0;
        right:0;
        min-width: 20px;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        cursor: pointer;
        img{
            width: 1rem;
        }
        &:hover{
            background:#5555;
        }
    }
    .NotificationTimeOut{
        position: absolute;
        bottom:0;
        left:0;
        width: 50%;
        height: 3px;
        background-color:aqua;
        pointer-events: none;
        z-index: 5;
    }
}
.App-Content{
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%;
    height: calc(100dvh - 2.2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}

.LoaderProgram{
    position: fixed;
    top: 2.2rem;
    left: 0;
    width: 100%;
    height: calc(100% - 2.2rem);
    z-index: 9990;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;

    .LoaderProgram-Top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: var(--ProgramLoader);
        border-bottom:1px solid #0005;
        z-index: 1;
        img{
            position: absolute;
            bottom:-5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 10rem;
        }
    }
    .LoaderProgram-Bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: var(--ProgramLoader);
        border-top:1px solid #0005;
        .Progress{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .3rem;
            background: transparent;
            z-index: 1;
            .Bar{
                position: relative;
                background: linear-gradient(90deg,blue 90%,aqua);
                width: 0%;
                height: 100%;
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
                transition: width 0.1s ease-in-out;
                z-index: 1;
                &:after{
                    content:'';
                    position:absolute;
                    top:0;
                    left:0;
                    background: inherit;
                    filter: blur(5px) saturate(1.5);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
        .Bottom{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 1em;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Text{
                font-family: "Comfortaa",Arial, Helvetica, sans-serif;
            }
        }
    }
    &.loadComplete{
        pointer-events: none;
        .LoaderProgram-Top{
            animation: TopOpen 1s ease-in-out forwards .2s;
        }
        .LoaderProgram-Bottom{
            animation: BottomOpen 1s ease-in-out forwards .2s;
            .Progress{
                transition: opacity 1s ease-in;
                opacity: 0;
            }
            .Text{
                transition: opacity 1s ease-in;
                opacity: 0;
            }
        }
    }
    &.close{
        pointer-events: all;
        .LoaderProgram-Top{
            animation: TopClose .8s ease-in-out forwards;
        }
        .LoaderProgram-Bottom{
            animation: BottomClose .8s ease-in-out forwards;
        }
    }

    &.open{
        pointer-events: none;
        .LoaderProgram-Top{
            animation: TopOpen .8s ease-in-out forwards;
        }
        .LoaderProgram-Bottom{
            animation: BottomOpen .8s ease-in-out forwards;
        }
    }
}
