@import url('./global.css');
@import url('./panel/launcher.css');
.Sidebar{
    position: relative;
    min-width: 15rem;
    height: 100%;
    background-color: var(--Sidebar-BG);
    display: block;
    padding-bottom: 0.5em;
    border-right: 1px solid var(--Sidebar-Border-Right);
    box-shadow: 0 0 0.5em var(--Shadow);
    z-index: 5;
    transition: transform 0.5s ease-in-out;
    &.Sidebar-Hidden{
        transform: translateX(-150%);
    }
    .Sidebar-Item{
        position: relative;
        max-width: 95%;
        height: 3rem;
        margin: 0.5em auto;
        border-radius: 0.2em;
        &:hover{
            .Description{
                left: calc(100% - -1rem);
                opacity: 1;
            }
            .Content-Item{
                border: 1px solid var(--Border-Neon);
                box-shadow: 0 0 0.5em var(--Border-Shadow);    
            }
            &:active{
                .Content-Item{
                    scale:0.95;
                }
            }
        }
        .Description{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            opacity: 0;
            min-width: 25rem;
            max-width: 45rem;
            min-height: 2rem;
            background-color: var(--Sidebar-Item-Description-BG);
            border: 1px solid var(--Sidebar-Item-Border);
            backdrop-filter: blur(5px);
            border-radius: 0.2em;
            padding: 0.5em;
            pointer-events: none;
            transition: opacity 150ms ease, left 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 0 0 0.5em var(--Shadow);
            text-shadow: 0 0 0.5em var(--Shadow-Text);
        }
        .Content-Item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            border: 1px solid var(--Sidebar-Item-Border-Right);
            background-color: var(--Button-Item-BG);
            border-radius: 0.2em;
            width: 100%;
            height: 100%;
            border-radius: 0.5em;
            gap: 0.5em;
            margin: 0;
                transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), scale .2s cubic-bezier(0.175, 0.885, 0.32, 1.275),box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            p{
                flex: 1;
                text-align: start;
            }
            img{
                margin: 0 0.5em;
                width:1.5em;
            }
        }
    }
}
.Content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    button{
        position: relative;
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 50%;
        background-color: rgb(0, 0, 0,0.5);
        color: white;
        text-shadow: 0 0 0.5em #000;
        box-shadow: 0 0 0.5em #0005;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border .1s ease-in-out, width .2s ease-in-out, background .2s ease-in-out, shadow 2s ease-in-out;
        border: 1px solid transparent;
        box-shadow: 0 0 0.5em transparent;
        cursor: pointer;
        &.active img{
            rotate: 180deg;
        }
        img{
            border-radius: 0.5em;
            width: 4.5rem;
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover{
            background-color: #0009;
            border: 1px solid var(--Border-Neon);
            box-shadow: 0 0 0.5em var(--Border-Shadow);
            .Description{
                top: -3rem;
                visibility: visible;
                opacity: 1;
            }
        }
        .Description{
            position: absolute;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: #0005;
            padding: 0.4em;
            border-radius: 0.2em;
            visibility: hidden;
            opacity: 0;
            transition: opacity 3s cubic-bezier(0.075, 0.82, 0.165, 1),top .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
    .Hotbar{
        position: absolute;
        bottom: 0.5em;
        left: 2rem;
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 0.5em;
        padding: 0.2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
}
.Container_Content{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    section{
        margin: 0;
        padding: 0;
        min-height: 100dvh;
        width: 100%;
    }
}

section#ContentBackend{
    background-color: #1118; 
}
