.PanelsContainer{
    position: absolute;
    top: 0;
    background-color: #0008;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    z-index: 10;
    transition: background-color .5s, backdrop-filter .5s ease-in-out;
    content-visibility: visible;
    &.unvisible{
        content-visibility: hidden;
        background-color: transparent;
        backdrop-filter: none;
        pointer-events: none;
        z-index: -10;
    }
    div.unvisible{
        content-visibility: hidden;
        display: none;
    }
    .PanelsContainer-HTML{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transform: translateY(-5rem);
        opacity: 0;
        transition: transform .5s ease-in-out,opacity .5s ease-in-out;
        &.visible{
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.Dialog-Item[open="false"]{
    display: none;
    content-visibility: hidden;
    transform: translateY(-5em);
    background-color: transparent;
    border:none;
    pointer-events: none;
    z-index: -10;
}
.Dialog-Item[open="true"]{
    inset: 0;
    padding: 0;
    min-width: 45rem;
    min-height: 25rem;
    border-radius: 0.5em;
    background-color: var(--Dialog-Bg);
    border: 1px solid color-mix(in srgb, var(--Dialog-Bg) 50%, black 50%);
    content-visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(0);
    transition: transform .5s ease-in-out, background-color .5s;
    .TittleDialog{
        width: 100%;
        height: 2.5rem;
        border-bottom: 1px solid color-mix(in srgb, var(--Dialog-Bg) 50%, black 50%);
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        color:white;
        background-color: color-mix(in srgb, var(--Dialog-Bg) 50%, black 50%);
        font-family: 'Comfortaa',Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5em;
        overflow: hidden;
        button{
            background-color: #222;
            border: none;
            padding: 0.5em;
            width: 3rem;
            height: 2rem;
            border-radius: 0.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0 0 0.5em #2225;
            transition: box-shadow 1s ease-in-out, background-color .2s ease-in-out;
            &:hover{
                background-color: rgb(200, 0, 0);
                box-shadow: 0 0 0.5em rgb(200, 0, 0);
            }
            img{
                width: 1.5rem;
            }
        }
    }
    .ContentDialog{
        flex: 1;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .Unvisible{
            transition: opacity .1s ease-in-out;
            pointer-events: none;
            opacity: 0;
        }
        .ActiveDownload{
            color:white;
            font-family: Comfortaa,Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 10rem;
                border-radius: 50%;
            }
        }
        .DownloadButtonDialog{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 10rem;
            height: 2rem;
            border-radius: 0.5em;
            position: absolute;
            bottom: -5rem;
            left: 50%;
            pointer-events: none;
            opacity: 0;
            color:white;
            cursor: pointer;
            transform: translateX(-50%);
            background-color: transparent;
            z-index: 1;
            transition: all .2s ease-in-out;
            &.downloadButtonIsActive{
                opacity: 1;
                pointer-events: all;
                background-color: rgba(24, 68, 110, 0.9);
                bottom: -2.5rem;
            }
            &.Unvisible{
                transition: opacity .1s ease-in-out;
                pointer-events: none;
                opacity: 0 !important;
                display: none;
            }
        }
        .DownloadSectionDialog{
            position: absolute;
            top:0;
            right:0;
            height: 100%;
            width: calc(100% - 15rem);
            .VanillaDownload{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    width: 50%;
                    height: 100%;
                }
                .SelectVersionMode{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5em;
                    flex-direction: column;
                    padding: 1rem 0;
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        padding: 0 1rem;
                        height: 2rem;
                        width: 90%;
                        background-color: #0005;
                        border-radius: 0.5em;
                        transition: background 0.2s;

                        &:hover {
                            background-color: #0008;
                        }

                        .Check{
                            padding: 0 0;
                            width: 1.5em !important;
                            height: 1.5rem !important;
                            border-radius: 0.3em;
                            background-color: #0005;
                            border: 1px solid #5555;
                            &.Selected{
                                background-color: rgba(0, 255, 94);
                                border: 1px solid #0005;
                                box-shadow: 0 0 0.5em rgba(0, 255, 94, 0.5);
                            }
                        }
                        label {
                            cursor: pointer;
                            margin-left: 0.5rem;
                            user-select: none;
                        }
                    }
                }
                .SelectVersion{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5em;
                    flex-direction: column;
                    height: 100%;
                    overflow: auto;
                    padding:0.5rem 0;
                    position: relative;
                    img{
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        z-index: 1;
                    }
                    div{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        color:white;
                        width: 90%;
                        height: 1.5rem;
                        flex-shrink: 0;
                        background-color: #0005;
                        border-radius: 0.3rem;
                        border:1px solid #0009;
                        cursor: pointer;
                        &:hover{
                            background-color: #5555;
                        }
                        &.SelectActiveDiv{
                            border:1px solid var(--Border-Neon);
                        }
                    }
                }
            }
        }
        .SelectMode{
            position: absolute;
            top:0;
            left:0;
            width: 15rem;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap:0.5em;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: color-mix(in srgb, var(--Dialog-Bg) 50%, black 50%);
            padding:.5rem 0;
            .SelectMode-Item {
                display:flex;
                justify-content:center;
                align-items:center;
                gap:0.5em;
                width:90%;
                height: 3rem;
                border-radius: 0.5em;
                background:#3335;
                border:1px solid #5555;
                color:white;
                cursor: pointer;
                transition: width .2s ease-in-out, background .2s ease-in-out;
                * { pointer-events: none; }
                .Image{
                    width: 5rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    img{
                        border-radius: 0.5em;
                        width: 2.5rem;
                    }
                }
                .Text{
                    flex:1;
                }
                &:hover{
                    width: 95%;
                    background-color: #5555;
                }
            }

        }
    }
}