.Settings-Body{
    position: absolute;
    top: 2.5rem;
    left:50%;
    transform: translateX(-50%);
    width: 90%;
    height: calc(85dvh - 3rem);
    background-color: color-mix(in srgb, var(--Dialog-Bg) 50%, transparent 50%);
    color:white;
    border-radius: 0.9rem;
    border: 1px solid color-mix(in srgb, var(--Dialog-Bg) 50%, black 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5em #0005;
    .Hotbar{
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        height: 3rem;
        padding: 0.5em;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        .Hotbar-Item{
            cursor: pointer;
            width: auto;
            min-width: 7rem;
            height: 3em;
            padding: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap:0.5em;
            border-radius: 0.5em;
            font-size: 0.9rem;
            border: 1px solid rgba(255, 255, 255, 0.2);
            font-family: 'Comfortaa',system-ui;
            z-index: 1;
            cursor: pointer;
            background-color: var(--Dialog-Bg);
            transition: background-color .2s ease-in-out, height .1s ease-in-out, transform .2s ease-in-out,border-radius .1s ease-in-out;
            &:hover{
                background-color: color-mix(in srgb, var(--Dialog-Bg) 50%, black 70%);
            }
            &.active {
                background-color: color-mix(in srgb, var(--Dialog-Bg) 50%, black 80%);
                border: 1px solid var(--Border-Neon);
                box-shadow: 0 0 0.3em rgba(0, 0, 255, 0.5);
            }
            img{
                max-width: 1.5rem;
                image-rendering: crisp-edges;
            }
            *{
                pointer-events: none;
            }
        }
    }
}
.Panels-Container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    z-index: 1;
}
.Panel-Cuentas,.Panel-Launcher,
.Panel-Minecraft,.Panel-Apariencia{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    opacity: 0;
    pointer-events: none;
    &.active {
        opacity:1;
        pointer-events: all;
    }
    .Top{
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 2rem;
        display: flex;
        justify-content: start;
        padding: 0 0.5em;
        align-items: center;
        background-color: #0009;
        font-family: 'Comfortaa',Arial, Helvetica, sans-serif;
        font-size: 0.5rem;
        border-top-right-radius: 0.5em;
        border-top-left-radius: 0.5em;
        content-visibility: visible;
        z-index: 1;
    }
    .Content{
        position: absolute;
        top:-1rem;
        border-radius: 0.5em;
        left:0;
        width: 100%;
        height: 100%;
        overflow: auto;
        .AddCount{
            position: absolute;
            top: 1.5em;
            right: 0.5em;
            min-width: 14rem;
            min-height: 2rem;
            background-color: #0005;
            padding: 0.5em;
            display:flex;
            justify-content: center;
            align-items: center;
            gap:0.5em;
            border:1px solid #5555;
            border-radius: 0.5em;
            color:white;
            font-family: 'Nunito';
            z-index: 1;
            img{
                width: 1.5rem;
            }
        }
    }
}