@font-face {
    font-family: Comfortaa;
    src: url('../Static/Fonts/Comfortaa.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Motiva Sans';
    src: url('../Static/Fonts/MotivaSansThin.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}
*{
    outline: none;
    box-sizing: content-box;
    user-select: none;
    -webkit-user-drag: none;
    img{
        object-fit: cover;
        pointer-events: none;
    }
}
:root{
    --background: #181C22;
    --menu-color: #0005;
    --titlebar-color: #333;
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track {background: #000;}

::-webkit-scrollbar-thumb {
    background: #4da4fb;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover { background: #1e90ffff; }

::-webkit-scrollbar-thumb:active { background: #1473d4ff; }

body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.BodyApp-Root{
    /* background: var(--background); */
    background: url('../Static/Img/Background/2.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.TitleBar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: var(--titlebar-color);
    -webkit-app-region:drag;
    z-index: 9999;
    .T-Title{
        font-family: Comfortaa,Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        color:white;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        gap:0.5em;
        height: 2rem;
        padding: 0 0.5em;
        pointer-events: none;
        img{
            width: 2rem;
        }
    }
    .T-Buttons{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        button{
            pointer-events: all !important;
            background:transparent;
            border:none;
            width: 2rem;
            height: 2rem;
            -webkit-app-region:no-drag;
            &:hover{
                background-color: #0005;
                &:nth-child(3){
                    background-color: rgb(255,0,0,0.5);
                }
            }
            &:active{
                background-color: #5559;
                &:nth-child(3){
                    background-color: rgb(255,0,0,0.9);
                }
            }
        }
        img{
            width: 1rem;
        }
    }
}
.App-Root-Main{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;
}
.Notification{
    position:fixed;
    top: 3rem;
    right: 1rem;
    min-width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: #0009;
    border: 1px solid #5555;
    backdrop-filter: blur(4px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5em;
    padding: 0 15px;
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
    color:white !important;
    font-size: 0.8rem;
    transition: transform 0.3s ease, opacity 0.3s ease, scale 0.3s ease;
    transform-origin: top right;
    z-index: 50;
    .Icon{
        img{
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
        }
    }
    .ButtonExitNotification{
        position: absolute;
        top:0;
        right:0;
        width: 15px;
        height: 15px;
        border-radius: 0.2rem;
        cursor: pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        img{width: 15px;}
    }
    .ProgressTimeOut{
        position: absolute;
        bottom:-1px;
        left:0;
        width: 0;
        height: 0.2rem;
        background:aqua;
        border-radius: 0.5rem;
        pointer-events: none;
    }
}
.App-LoaderScreen-UI{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100dvh;
    z-index:9950;
    overflow:hidden;
    background:transparent;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    div{
        width:100%;
        height:50%;
        background:#111;
        position: relative;
    }
    .App-LoaderScreen-Top{
        border-bottom: 5px solid #0005;
    }
    .App-LoaderScreen-Bottom{
        border-top: 5px solid #0005;
        .App-LoaderScreen-Text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color:white;
            font-family: 'Motiva Sans', Arial, Helvetica, sans-serif;
        }
    }
    .App-LoaderScreen-Logo{
        position: absolute;
        bottom:-5.5rem;
        width: 10rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}