.App-Content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
    height: calc(100% - 2rem);
    .Content{
        position: relative;
        margin:0;
        padding:0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        section{
            flex-shrink: 0;
            min-width: 100%;
            height: 100%;
        }
    }
}

.App-Sidebar{
    position: relative;
    height:calc(100% - 2rem);
    width: 4rem;
    background-color:var(--menu-color);
    z-index: 1;
    .Items-Container-Sidebar{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        height: calc(100% - 4.3rem);
        padding-top: 0.5em;
    }
    .Items-Container-Sidebar-BT{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        height: auto;
        padding: 0.5em 0;
        position: absolute;
        bottom: 0;
    }
    .Sidebar-Item{
        position: relative;
        width: 3rem;
        height: 2rem;
        margin: 0 auto;
        border-radius: 0.3em;
        background-color: #0005;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        label{
            position: absolute;
            left:5rem;
            opacity: 0;
            pointer-events: none;
            padding: 0.5em;
            min-width: 5rem;
            white-space: nowrap;
            background-color: #0005;
            backdrop-filter: blur(4px);
            border-radius: 0.5em;
            font-family: Comfortaa,Arial, Helvetica, sans-serif;
            font-size: 0.8rem;
            transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover{
            background: #0009;
            label{
                opacity: 1;
                left: 4rem;
            }
        }
        &:active{
            background-color: #5558;
        }
    }
}
.NewsIframe{
    width: 100%;
    height: 100%;
}
.App-Panels-Container-HMTL{
    position: fixed;
    top: 2rem;
    left: 0;
    height: calc(100% - 2rem);
    width: 100%;
    background:red;
    &.Unvisible,
    div&.Unvisible{
        opacity: 0;
        pointer-events: none;
    }
}