@import url('./download.css');
@import url('./launch.css');
.Dialogs_Container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem);
    background-color: transparent;
    pointer-events: none;
    user-select: none;
    z-index: 1500;
    &.Active{
        pointer-events: all;
        background-color: #0005;
        transition: background 150ms ease-in-out;
    }
    .Show{
        opacity: 1;
        pointer-events: all;
        display: block;
        content-visibility: visible;
    }
    .Hidden{
        opacity: 0 !important;
        pointer-events: none !important;
        display: none !important;
        content-visibility: hidden !important;
    }
    dialog.HIDDEN_DIALOG{
        opacity: 0 !important;
        display: block !important;
        pointer-events: none !important;
        content-visibility: hidden;
        transform: translateX(-50%) translateY(-40%);
    }
    dialog.ACTIVE_DIALOG{
        display: block;
        transform: translate(-50%,-50%);
        content-visibility: visible;
        pointer-events: all;
    }
    dialog{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 45rem;
        height: 25rem;
        min-width: 45rem;
        min-height: 25rem;
        border: none;
        border-radius: 0.5rem;
        background-color: var(--dialog-bg);
        box-shadow: 0 0 0.5em rgb(0,0,0,0.5);
        transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .Dialog-Title{
            position: absolute;
            inset: 0;
            width: calc(100% - 2rem);
            height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.25em 1rem;
            color: white;
            border-bottom: 1px solid #5555;
            font-size: 0.65vw;
            font-family: 'Motiva Sans',Arial, Helvetica, sans-serif;
			button{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                background-color: transparent;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border:none;
                cursor: pointer;
                img{ width: 20px; }
                &:hover{ background-color: #5555; }
            }
        }
        .Dialog-Body{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 2rem - .50em);
            border-radius: 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Dialog-Content{
                width: 100%;
                height: 100%;
                color: white;
                .Footer{
                    position: absolute;
                    bottom: .55rem;
                    right: 2.5rem;
                    width: 80%;
                    height: 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                        font-size: 0.85rem;
                        font-family: 'Comfortaa',Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}
.HTML_Container{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #0005;
    z-index: 1000;
    &.Unvisible,
    .Unvisible{
        display:none;
        user-select: none;
        pointer-events: none;
        content-visibility: hidden;
    }
    &.Visible,
    .Visible{
        display: flex;
        user-select: all;
        pointer-events: all;
        content-visibility: visible;
    }
    .HTML_Content{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        display: block;
        overflow: auto;
        z-index: 1;
    }
}