@import url('./../global.css');
.HiddenButton{
    position: absolute;
    bottom: 0.5em;
    right:1rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: rgb(255,255,255,0.5);
    color:black;
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    padding:0 0.5em;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: opacity 150ms ease-in-out,background-color 150ms ease-in-out;
    z-index: 1;
    label,img{ pointer-events: none; }
    img{ object-fit: contain; width: 1.5rem; }
    &:hover{ background-color: rgb(255,255,255); }
    &.Unvisible{ opacity: 0; }
}
.News-Container-Root{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 150ms ease-in-out;
    &.Unvisible{
        opacity: 0;
    }
    .error-message{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255,255,255,0.5);
        font-family: Comfortaa,Arial, Helvetica, sans-serif;
        height: auto;
    }
    .ChangelogContainer{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #0005;
        color:white;
        font-family: Comfortaa,Arial, Helvetica, sans-serif;
        overflow: auto;
        a{ color:cyan; text-decoration: none; }
        img{ margin:auto; max-width: 100%; border-radius: 0.5em; }
        #Changelog-Container{
            width: 80%;
            padding-bottom:5rem;
            margin:auto;
            .changelog-content *{
                content-visibility: auto;
            }
            .changelog-header{
                content-visibility: visible;
                z-index: 1;
            }
            * code{
                font-family: 'Consolas', "JetBrains Mono", monospace;
                background:#0003;
                padding:0.25em 0.45em;
                border-radius:0.35em;
                font-size:0.9rem;
                color:#6db3ff;
                user-select:text;
                white-space:pre-wrap;
                line-height:1.35em;
            }
            * ul{
                list-style:square inside;
            }

        }
        .close-changelog-btn{
            position: fixed;
            bottom:3.5rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 0.3em;
            background-color: rgb(191, 30, 30);
            border:none;
            width: 1.5rem;
            height: 1.5rem;
            content-visibility: visible !important;
            cursor:pointer;
            z-index: 1;
            img{ width: 1rem; }
            &:hover{
                background-color: rgb(255,0,0);
                box-shadow: 0 0 0.5em darkred;
            }
        }
        &.Unvisible{
            opacity: 0;
            pointer-events: none;
        }
    }
    .NewsCardsContainer{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: calc(100% - 3rem);
        padding-bottom: 3rem;
        overflow: auto;
        pointer-events: all;
        transition: opacity 250ms ease-in-out;
        &.Unvisible{
            opacity: 0;
            pointer-events: none;
        }
        .News-Card{
            position: relative;
            display: flex;
            justify-content: center;
            align-items:center;
            gap:0.5em;
            margin: 0.5em;
            color:white;
            font-size: 0.8rem;
            background-color: #0005;
            border-radius: 0.5em;
            font-family: Comfortaa,Arial, Helvetica, sans-serif;
            transition: opacity 150ms ease-in-out, transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            img{ width: 15rem; border-radius: 0.5em; }
            button{
                position: absolute;
                bottom: 0.5em;
                right:0.5em;
                background-color: #0005;
                padding:0.5em;
                border-radius: 0.3em;
                color:white;
                border:none;
                cursor:pointer;
                &:hover{
                    background:#5555;
                }
            }
            .news-card-content{
                position: relative;
                height: 100%;
            }
            .news-card-header{
                position: absolute;
                bottom:0.5em;
            }
            &.Unvisible{
                opacity: 0;
                transform: translateY(-20px);
            }
        }
    }
}
.News-Panel-Container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#0005;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content(60dvh);
    justify-content: center;
    align-items: center;
    gap:0rem;
    z-index: 1;
    &.Unvisible{
        opacity: 0;
        pointer-events: none;
    }
    .News-Panel-Button-Exit{
        position: absolute;
        bottom: 10dvh;
        left:50%;
        transform: translateX(-50%);
        grid-column: 5 / 1;
        width: 2rem;
        height: 2rem;
        background-color: rgb(198, 33, 33);
        border-radius: 0.5em;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{ width: 1rem; }
        &:hover{
            background-color: red;
            box-shadow: 0 0 0.5em darkred;
        }
    }
    .Panel-Item{
        position: relative;
        width: 40dvh;
        height: 60dvh;
        margin:auto;
        background: #0005;
        border-radius: 0.5em;
        transition: all 150ms ease-in-out;
        *{
            pointer-events: none;
        }
        &:hover{
            scale: 1.05;
            z-index: 1;
            p{
                padding: 0.5em 0.5rem;
            }
        }
        p{
            position: absolute;
            bottom:1rem;
            left:50%;
            width: max-content;
            transform: translateX(-50%);
            font-family: Comfortaa,Arial, Helvetica, sans-serif;
            background-color: #0009;
            color:White;
            padding: 0.5em 0;
            border-radius: 0.5em;
            font-size: 0.8rem;
            text-align: center;
            width: 100%;
            backdrop-filter: blur(4px);
            box-shadow: 0 0 0.5em #0005;
            transition: padding 150ms ease-in-out;
        }
        .ImageContainer{
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            mask: radial-gradient(circle at top center,black 80%,transparent 90%);
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                &.Step{
                    position: absolute;
                    top: 50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    width: 80%;
                    height: 80%;
                    object-fit: contain;                    
                }
                &.D3{
                    position: absolute;
                    top: -10rem;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    image-rendering:auto;
                }
            }
        }
    }
}
.News-Hotbar{
    position: fixed;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0005;
    min-width: 15rem;
    height: 2rem;
    border-radius: 0.5em;
    border: 1px solid rgb(255,255,255,0.3);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 0.5em #0005;
    padding:0.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: bottom .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.Unvisible{
        bottom: -5rem;
    }
    .Hotbar-Button{
        min-width: 5rem;
        height: 2rem;
        padding: 0 0.5em;
        border-radius: 0.5em;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Comfortaa,Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        cursor: pointer;
        transition: background 150ms ease-in-out, scale 100ms ease;
        label,img{pointer-events: none;}
        &:hover{background:#0005;}
        &:active{
            scale: 0.9;
        }
    }
}
@media (min-width: 1400px){
    .NewsCardsContainer{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1800px){
    .NewsCardsContainer{
        grid-template-columns: repeat(4, 1fr);
    }
}