@font-face {
    font-family: 'Lexend';
    src: url('../../Assets/Fonts/Lexend.woff2');
}
@font-face {
    font-family: 'Comfortaa';
    src: url('../../Assets/Fonts/Comfortaa.woff2');
}
@font-face {
    font-family: 'InstrumentSans';
    src: url('../../Assets/Fonts/InstrumentSans.woff2');
}
@font-face {
    font-family: 'Inter';
    src: url('../../Assets/Fonts/Inter.woff2');
}